@font-face {
  src: url(../assets/fonts/NationalPark-Regular.otf);
  font-family: National Park Regular;
}

@font-face {
  src: url(../assets/fonts/NationalPark-Outline.otf);
  font-family: National Park Outline;
}

@font-face {
  src: url(../assets/fonts/Wooden-Log.ttf);
  font-family: Wooden Log;
}


/* Global styles
---------------------------------------*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}



*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url(../assets/images/camp_001_rev.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-family: "Wooden Log";
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  font-weight: lighter;
}


h2 {
  font-family: "Wooden Log";
  /* margin: auto; */
  text-align: center;
  color: rgb(255, 203, 143);
  font-size: 50px;
  font-weight: lighter;
}

h3 {
  font-family: "Wooden Log";
  /* margin: auto; */
  text-align: center;
  color: rgb(255, 203, 143);
  font-size: 40px;
  font-weight: lighter;
}

h4 {
  font-family: "National Park Regular";
  /* margin: auto; */
  text-align: center;
  padding-bottom: 2%;
  color: rgb(255, 203, 143);
  font-size: 30px;
  font-weight: lighter;
}

h5 {
  font-family: "National Park Regular";
  /* margin: auto; */
  text-align: center;
  padding-bottom: 2%;
  color: rgb(255, 203, 143);
  font-size: 30px;
  font-weight: lighter;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

.card {
  margin-top: 2%;
  border: 5px solid orange;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  color: white;
  background-color: rgba(0, 190, 248, 0.301);
}
.column1 {
  float: left;
  width: 45%;
  padding: 0 10px;
  margin-left: 4%;
  font-family: "National Park Regular";
  font-size: 20px;
  font-weight: lighter;
}

.column2 {
  float: right;
  width: 45%;
  padding: 0 10px;
  margin-right: 4%;
  font-family: "National Park Regular";
  font-size: 20px;
  font-weight: lighter;
}

.container {
  background-color: rgba(0, 190, 248, 0.701);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 1rem;
  font-family: "National Park Regular";
  font-size: 20px;
  font-weight: lighter;
}

/* Home Page styles
---------------------------------------*/

.mainlogo 
  {
    font-family: "Wooden Log";
    margin: auto;
    text-align: center;
    font-size: 250px;
    color: #441c01;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    margin: 50px auto; 
  }
  
  .glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(255, 203, 143),
        0 0 40px rgb(255, 203, 143), 0 0 50px rgb(255, 203, 143),
        0 0 60px rgba(106, 218, 252, 0.733), 0 0 70px rgb(255, 203, 143);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgb(255, 203, 143),
        0 0 40px rgba(106, 218, 252, 0.733), 0 0 50px rgba(106, 218, 252, 0.733),
        0 0 60px rgb(255, 203, 143), 0 0 70px rgb(255, 203, 143),
        0 0 80px rgba(106, 218, 252, 0.733);
    }
  }

.subheader h5 {
  margin-top: 5%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin: 25px auto;
}


.links a {
  /* text-shadow: 2px 2px 12px rgb(253, 159, 51); */
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}

.links a:hover {
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 12px rgba(0, 190, 248, 0.521));
}



/* Gear Page styles
---------------------------------------*/
/* .column2 .card {
  position: relative;
  top: 0;
  right: 0;
} */


/* Weather Page styles
---------------------------------------*/

.showForcast li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  border-bottom: 2px solid #fea500;
}


/* Meals Page styles
---------------------------------------*/

/* Global Recipe styles
-------------------*/
#ingredients {
  margin-left: 2%;
  text-align: left;
}

#measurements {
  margin-left: 2%;
  text-align: left;
}

/* Food Recipe styles
-------------------*/
.meal {
  float: left;
  width: 45%;
  padding: 0 10px;
  margin-left: 4%;
  margin-top: 1%;
}
.showName {
  color: #fecb8f;
  border-bottom: 2px dotted #fecb8f;
}

.ingredientsImage {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#imageToShow {
  max-width: 95%;
  float: left;
  padding: 15px;
}

.ingredientsRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  line-height: 2;
}

.showInstructions {
  width: 85%;
  margin: 15px auto;
  line-height: 2;
}


/* Drink Recipe styles
-------------------*/

.drink {
  float: right;
  width: 45%;
  padding: 0 10px;
  margin-right: 4%;
  margin-top: 1%;
}

#drinkImageToShow {
  max-width: 95%;
  float: left;
  padding: 15px;
}

.showDrinkName {
  font-size: 70px;
  color: #fecb8f;
  border-bottom: 2px dotted #fecb8f;
}

.showDrinkInstructions {
  width: 85%;
  margin: 15px auto;
  line-height: 2;
  /* background-color: #fecb8f; */
}




.showCategory {
  font-size: 20px;
}

.showArea {
  font-size: 30px;
}

/* About Page styles
---------------------------------------*/


.about-content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.about-content-wrap .card {
  margin: 15px 5px;
}

.about-content-wrap .card #emoji {
  margin: 0 auto;
}

.about-content-wrap h3 {
  margin-top: 15px;
}

.links #icon {
  margin: 0 25px;
}











.draggable {
  padding: 1rem;
  border: 5px solid orange;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  font-family: "National Park Regular";
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  color: white;
  cursor: move;
}
/* provides ghost like effect */
.draggable.dragging {
  opacity: 0.5;
}

.columnLanding {
  float: center;
  width: 80%;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 8%;
  /* padding-left: 25%; */
  font-family: "National Park Regular";
  font-size: 20px;
  font-weight: lighter;
}

.landing {
  float: left;
  width: 20%;
  padding: 0 10px;
  margin-left: 5%;
  /* margin-top: 1%; */
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}




/* Remove extra left and right margins, due to padding in columns */
/* .row {
  margin: 0 -5px;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}








a {
  text-decoration: none;
}


.logo {
  font-family: "Wooden Log";
  margin-left: 4%;
  margin-right: 5%;
  color: #ffffff;
  font-size: 90px;
}


.logo:hover {
  color: white;
  text-shadow: 2px 2px 12px rgb(0, 190, 248);
}

.nav_links {
  /* display: flex; */
  font-family: "Wooden Log";
  font-size: 30px;
  color: rgb(255, 203, 143);
  /* width: 20%; */
  /* float: right; */
  margin-right: 3%;
  margin-left: 3%;
  justify-content: space-between;
  /* list-style: none; */
}

.nav_links:hover {
  color: rgb(0, 190, 248);
  text-shadow: 2px 2px 12px rgb(253, 159, 51);
}

.main_nav li {
  display: inline;
  color: #ffffff;
}
.nav_links li a {
  color: #ffffff;
}

/* styling for tabs ; this hides it all*/
[data-tab-content] {
  display: none;
}
/* active class will be visiable */
.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
}

.tab.active {
  background-color: rgb(0, 190, 248);
}

.tab:hover {
  background-color: rgb(253, 159, 51);
  border-radius: 25px;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

/* ----------------Wajma new changes---------------- */
.tabstabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  font-family: sans-serif;
}

.tabs__label {
  padding: 10px 16px;
  cursor: pointer;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: rgb(0, 190, 248);
  border-bottom: 2px solid rgb(0, 190, 248);
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

/* ----------------Wajma new changes---------------- */

#icon {
  margin: 1%;
  margin-bottom: 5%;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgba(0, 190, 248, 0.226);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(153, 153, 153, 0.25);
}

#icon:hover {
  background-color: orange;
}

#icon:active {
  background-color: rgb(204, 109, 0);
  box-shadow: 0 5px rgba(102, 102, 102, 0.6);
  transform: translateY(4px);
}

.btn-info {
  color: white;
  width: 70px;
  background-color: rgba(0, 190, 248, 0.432);
  border-radius: 15px;
  border-color: orange;
  box-shadow: 0 4px rgba(153, 153, 153, 0.25);
}

.btn-info:hover {
  color: white;
  background-color: orange;
}

.btn-info:active {
  background-color: rgb(204, 109, 0);
  box-shadow: 0 1px rgba(102, 102, 102, 0.6);
  transform: translateY(4px);
}

#emoji {
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}

#landingEmoji {
  /* text-shadow: 2px 2px 12px rgb(253, 159, 51); */
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}

#landingEmoji:hover {
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 12px rgba(0, 190, 248, 0.521));
}

.welcome {
  text-align: center;
  margin-top: 2%;
  width: 70%;
  margin: auto;
  border: 5px solid orange;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  /* text-align: center; */
  color: white;
  background-color: rgba(0, 190, 248, 0.301);
}










@media screen and (max-width: 992px) {
  .mainlogo 
  {
    /* font-family: "Wooden Log";
    margin: auto;
    text-align: center; */
    font-size: 11rem;
    /* color: #441c01;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    margin: 50px auto;  */
  }

  .subheader h2 {
    font-size: 40px;
    margin-top: 15%;
  }

  .subheader h5 {
    font-size: 20px;
    margin-top: 15%;
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;

  }

  #landingEmoji {
    width: 120px;
    height: 120px;
    margin: 15px;
  }
}



@media screen and (max-width: 600px) {
  
  .content-wrap {
    max-width: 599px;
    width: 90%;
  }

  .mainlogo 
  {
    font-size: 7rem;
  }


  .subheader h2 {
    font-size: 40px;
    padding: 10% auto;
  }

  .subheader h5 {
    font-size: 20px;
    margin-top: 15%;
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #fecb8f;
    background-color: #feca8f47;
    border-radius: 5px;
    padding: 5%;
  }

  #landingEmoji {
    width: 120px;
    height: 120px;
    margin: 25px;
  }
}

